.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.custom-btn {
    background-color:#42708a;
    color: white;
    transition: background-color 0.3s ease;
  }
  .custom-btn:hover{
    background-color:#42708a;
    color: #ff3131;
  }
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in.show {
    opacity: 1;
  }
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

#logo_login {
  border-radius: 50%;
}