body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1920px) {
  body {
      margin: 0;
      font-family: Poppins;
  }
  
  .navbar_header {
      background-color: rgba(65,111,137,255);
      height: 100px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
  }
  
  .navbar_logo_and_title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 50%;
      height: 100%;
  }
  
  .navbar_logo_and_title img {
      float: left;
      height: 95%;
  }
  
  .navbar_logo_and_title h1 {
      padding-top: 25px;
      padding-left: 25px;
      color: white;
  }
  
  .navbar_buttons {
      display: flex;   
      flex-direction: row;
      justify-content: flex-end;
      float: right;
      width: 50%;
      height: 100px;
      padding-top: 30px;
      font-weight: 500;
      font-size: x-large;
      text-align: center;
  }
  
  .navbar_buttons .btn {
      color: white;
      width: auto;
      height: fit-content;
      margin-right: 50px;
      font-size: large;
      font-weight: 500;
  }
  
  .navbar_buttons .btn:hover {
      color: white;
  }
  
  .navbar_buttons .btn:click {
      color: white;
  }

  #cards_info {
      padding: 15px;
      margin-bottom: 50px;
  }

  #cards_info .row{
      justify-content: space-evenly;
  }

  .card {
      width: 100%;
      height: 500px;
  }

  #carouselExampleAutoplaying {
      max-width: 50%;
      height: 400px;
      padding: 50px;
      margin-left: 25%;
      margin-bottom: 10%;
      background-color: rgba(170,170,255,255);
  }

  #carouselExampleAutoplaying img {
      max-width: 100%;
      height: 300px;
  }

  .footer {
      background-color: rgba(65,111,137,255);
      height: 200px;
      display: flex;
      justify-content: space-evenly;
  }

  .footer_logo_and_title {
      float: left;
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 50%;
      height: 100%;
      padding-top: 50px;
  }
  
  .footer_logo_and_title img {
      height: 75%;
  }
  
  .footer_logo_and_title h2 {
      padding-top: 35px;
      padding-left: 25px;
      color: white;
  }
  
  .footer_socials {
      color: white;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .footer_socials i {
      padding: 10px;
  }    
}

@media (max-width: 1100px) {
  body {
      margin: 0;
      font-family: Poppins;
  }
  
  .navbar_header {
      background-color: rgba(65,111,137,255);
      height: 100px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
  }
  
  .navbar_logo_and_title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 50%;
      height: 100%;
  }
  
  .navbar_logo_and_title img {
      float: left;
      height: 85%;
      padding-top: 15px;
  }
  
  .navbar_logo_and_title h1 {
      padding-top: 35px;
      padding-left: 25px;
      color: white;
      font-size: x-large;
  }
  
  .navbar_buttons {
      display: flex;   
      flex-direction: row;
      justify-content: flex-end;
      float: right;
      width: 50%;
      height: 100px;
      padding-top: 30px;
      font-weight: 500;
      text-align: center;
  }
  
  .navbar_buttons .btn {
      color: white;
      width: auto;
      height: fit-content;
      margin-right: 10px;
      font-size: medium;
      font-weight: 500;
  }
  
  .navbar_buttons .btn:hover {
      color: white;
  }
  
  .navbar_buttons .btn:click {
      color: white;
  }

  #cards_info {
      padding: 15px;
      margin-bottom: 50px;
      margin-left: 150px;
  }

  #cards_info .row{
      justify-content:flex-start;
  }

  .card {
      width: 100%;
      height: 500px;
      margin-bottom: 10px;
  }

  #carouselExampleAutoplaying {
      max-width: 40%;
      height: 225px;
      padding: 40px;
      margin-left: 30%;
      margin-bottom: 10%;
      background-color: rgba(170,170,255,255);
      justify-content: center;
  }

  #carouselExampleAutoplaying img {
      max-width: 100%;
      height: 150px;
  }

  .footer {
      background-color: rgba(65,111,137,255);
      height: 150px;
      display: flex;
      justify-content: space-evenly;
  }

  .footer_logo_and_title {
      float: left;
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 50%;
      height: 100%;
      padding-top: 30px;
  }
  
  .footer_logo_and_title img {
      float: left;
      height: 80%;
      padding-top: 10px;
  }
  
  .footer_logo_and_title h2 {
      padding-top: 40px;
      padding-left: 15px;
      color: white;
      font-size: x-large;
  }
  
  .footer_socials {
      color: white;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .footer_socials i {
      padding: 10px;
  }    
}

@media (max-width: 700px) {
  body {
      margin: 0;
      font-family: Poppins;
  }
  
  .navbar_header {
      background-color: rgba(65,111,137,255);
      height: 100px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
  }
  
  .navbar_logo_and_title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 50%;
      height: 100%;
  }
  
  .navbar_logo_and_title img {
      float: left;
      height: 75%;
      padding-top: 15px;
  }
  
  .navbar_logo_and_title h1 {
      padding-top: 25px;
      padding-left: 25px;
      color: white;
      font-size: medium;
  }
  
  .navbar_buttons {
      display: flex;   
      flex-direction: row;
      justify-content: flex-end;
      float: right;
      width: 50%;
      height: 100px;
      padding-top: 30px;
      font-weight: 500;
      text-align: center;
  }
  
  .navbar_buttons .btn {
      color: white;
      width: auto;
      height: fit-content;
      margin-right: 10px;
      font-size: small;
      font-weight: 500;
  }
  
  .navbar_buttons .btn:hover {
      color: white;
  }
  
  .navbar_buttons .btn:click {
      color: white;
  }

  #cards_info {
      padding: 15px;
      margin-bottom: 50px;
      margin-left: 75px;
  }

  #cards_info .row{
      justify-content:flex-start;
  }

  .card {
      width: 100%;
      height: 500px;
      margin-bottom: 10px;
  }

  #carouselExampleAutoplaying {
      max-width: 60%;
      height: 250px;
      padding: 50px;
      margin-left: 20%;
      margin-bottom: 10%;
      background-color: rgba(170,170,255,255);
      justify-content: center;
  }

  #carouselExampleAutoplaying img {
      max-width: 100%;
      height: 150px;
  }

  .footer {
      background-color: rgba(65,111,137,255);
      height: 200px;
      display: flex;
      justify-content: space-evenly;
  }

  .footer_logo_and_title {
      float: left;
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 50%;
      height: 100%;
      padding-top: 50px;
  }
  
  .footer_logo_and_title img {
      float: left;
      height: 55%;
      padding-top: 20px;
  }
  
  .footer_logo_and_title h2 {
      padding-top: 35px;
      padding-left: 25px;
      color: white;
      font-size: large;
  }
  
  .footer_socials {
      color: white;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .footer_socials i {
      padding: 10px;
  }    
}

@media (max-width: 480px) {
  body {
      margin: 0;
      font-family: Poppins;
  }

  h1{
      width: 20px;
  }
  
  .navbar_header {
      background-color: rgba(65,111,137,255);
      height: 100px;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
  }
  
  .navbar_logo_and_title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 50%;
      height: 100%;
  }
  
  .navbar_logo_and_title img {
      float: left;
      height: 75%;
  }
  
  .navbar_logo_and_title h1 {
      padding-top: 25px;
      padding-left: 25px;
      color: white;
  }
  
  .navbar_buttons {
      display: flex;   
      flex-direction: row;
      justify-content: flex-end;
      float: right;
      width: 50%;
      height: 100px;
      padding-top: 30px;
      font-weight: 500;
      font-size: x-large;
      text-align: center;
  }
  
  .navbar_buttons .btn {
      color: white;
      width: auto;
      height: fit-content;
      margin-right: 10px;
      font-size: small;
      font-weight: 500;
  }
  
  .navbar_buttons .btn:hover {
      color: white;
  }
  
  .navbar_buttons .btn:click {
      color: white;
  }

  #cards_info {
      padding: 15px;
      margin-left: 0px;
  }

  #cards_info .row{
      justify-content:flex-start;
  }

  .card {
      width: 100%;
      height: 500px;
  }

  #carouselExampleAutoplaying {
      max-width: 80%;
      height: 250px;
      padding: 50px;
      margin-left: 10%;
      margin-bottom: 10%;
      background-color: rgba(170,170,255,255);
      justify-content: center;
  }

  #carouselExampleAutoplaying img {
      max-width: 100%;
      height: 150px;
  }

  .footer {
      background-color: rgba(65,111,137,255);
      height: 200px;
      display: flex;
      justify-content: space-evenly;
  }

  .footer_logo_and_title {
      float: left;
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 50%;
      height: 100%;
      padding-top: 50px;
  }
  
  .footer_logo_and_title img {
      height: 75%;
  }
  
  .footer_logo_and_title h2 {
      padding-top: 35px;
      padding-left: 25px;
      color: white;
  }
  
  .footer_socials {
      color: white;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .footer_socials i {
      padding: 10px;
      max-width: 50%;
      display: flex;
  }    
}
